@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

body {
  background-color: #182234;
  height: calc(100vh + 150px);
  overflow-x:hidden;
}

.navbar {
  background-color: #10182c;
  height: 12vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(248, 113, 113, 0.2);
  @media (max-width:720px) {
    height:10vh ;
  }
}

.left-nav-con {
  display: flex;
  width: 50%;
  
}

.right-nav-con {
  width: inherit;
  display: flex;
  justify-content: end;

}

.nav-icon-s {
  width: 6vh;
  aspect-ratio: 1/1;
  background: linear-gradient(135deg, #ef4444 0%, #f97316 100%);
  border-radius: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:720px) {
    width: 8vh
  }
}

.nav-icon-s img {
  width: 90%;
  aspect-ratio: 1/1;
}

.nav-title {
  margin-left: 10px;
}

.nav-title h1 {
  color: white;
  width: 100%;
  font-size:clamp(0.8rem,3.5vh,2rem) ;
  font-family: 'Roboto';
}

.nav-title p {
  width: 100%;
  color: #94a3b8;
  font-size:clamp(1px,1.3vh,3rem) ;
}

.nav-active {
  width: 12vh;
  aspect-ratio: 3/1.5;
  border: 1px solid rgba(239, 68, 68, 0.3);
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: 8px;
  margin-right: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 0px;
}

.nav-active-icon img {
  width: 3vh;
}

.nav-active-count {

}

.page-container {
  width: 100vw;
  padding-top: 12vh;
  border: 1px solid red;
  height: 100vh;
  @media (max-width:720px) {
    padding-top:10vh ;
  }
}

.page-nav{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:720px) {
    height: 15vh;
  }
}

.nav-wrapper {
  width: 90%;
  border: 1px solid rgba(248, 113, 113, 0.2);
  height: 50%;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  @media (max-width:720px) {
    height: 50%;
    border-radius: 2vh;
    gap:0;
    justify-content: space-around;
  }
}

 #active {
  height: 2vh;
  border-radius: 2vw;
  background-color: white ;
  padding: 10px 20px;
}
