@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*  {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  color: white;
  text-decoration: none;
}

:root{
  --background: #0E0F10;
  --subColor:#9D9D9D;
  --subColorTwo:#9A9A9A;
  --navSelected:#373B3B;

}

body {
  background-color: var(--background);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  @media (max-width:720px) {
    flex-direction: column;
  }
}

.navContainer {
  width: 25%;
  @media (max-width:720px) {
    width: 100%;
    height: 8vh;
  }
}

.wrapper {
  width: 75%;
  border:red solid 1px;
  @media (max-width:720px) {
    width: 100%;
    height: calc(100% - 16vh);
  }
}

.navMobile{
  display: none;
  @media (max-width:720px) {
    height: 8vh;
    display: flex;
    width: 100%;
  }
}

.navTitle {
  font-family: 'Roboto';
  font-size: 2.5vh; 
  height:8% ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  @media (max-width:720px) {
    height: 100%;
  }
}

.navTitle div {
  width: 85%;
  display: flex;
  align-items: center;
}

.navIcon {
  width: 5vh;
  aspect-ratio: 1/1;
}

.navContent {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width:720px) {
    display: none;
  }
}

.navWrapper{
  width: 85%;
}

.navDivider {
  border-bottom: 1px solid #40404060;
  width: 100%;
}

.navProfileWrapper {
  height: 8vh;
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
}

.navProfile {
  background-color: #202020;
  width: 100%;
  height: 5vh;
  border-radius:1vh;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.navProfile:hover {
  background-color: #282828;
}

.profileImage {
  background-color: gray;
  width: 3vh;
  border-radius: 0.8vh;
  aspect-ratio: 1/1;
  margin-left: 1vh;
}

.profileName {
  margin-left: 1vh;
  font-weight: 400 ;
  font-size: 1.8vh;
}

.navButtonsWrapper {
  display: flex;
  align-items: center;
  height: 23vh;
  width: 100%;
}

.navButtonsContainer {
  width: 100%;
}

.navButton {
  height: 5vh;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}

.navButton p {
  margin-left: 1vh;
  font-weight: 400 ;
  font-size: 1.8vh;
}

.navButton:hover {
  background-color: #272929;
  border-radius: 1vh;
}

.navImage {
  background-color: gray;
  width: 3vh;
  border-radius: 0.8vh;
  aspect-ratio: 1/1;
  margin-left: 1vh;
}

#navActive {
  background-color: #373B3B;
  border-radius: 1vh;
}