@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

body {
  background-color: #182234;
  height: calc(100vh + 150px);
  overflow-x:hidden;
}

.navbar {
  background-color: #10182cdb;
  height: 12vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(248, 113, 113, 0.2);
  backdrop-filter: blur(10px);
  z-index: 999;
  @media (max-width:720px) {
    height:10vh ;
  }
}

.left-nav-con {
  display: flex;
  width: 50%;
  
}

.right-nav-con {
  width: inherit;
  display: flex;
  justify-content: end;

}

.nav-icon-s {
  width: 6vh;
  aspect-ratio: 1/1;
  background: linear-gradient(135deg, #ef4444 0%, #f97316 100%);
  border-radius: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:720px) {
    width: 8vh
  }
}

.nav-icon-s img {
  width: 90%;
  aspect-ratio: 1/1;
}

.nav-title {
  margin-left: 10px;
}

.nav-title h1 {
  color: white;
  width: 100%;
  font-size:clamp(0.8rem,3.5vh,2rem) ;
  font-family: 'Roboto';
}

.nav-title p {
  width: 100%;
  color: #94a3b8;
  font-size:clamp(1px,1.3vh,3rem) ;
}

.nav-active {
  width: 12vh;
  aspect-ratio: 3/1.5;
  border: 1px solid rgba(239, 68, 68, 0.3);
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: 8px;
  margin-right: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 0px;
}

.nav-active-icon img {
  width: 3vh;
}

.nav-active-count {

}

.page-container {
  width: 100vw;
  padding-top: 12vh;
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  @media (max-width:720px) {
    padding-top:10vh ;
  }
}

.page-wrapper {
  width: 90%;
  height: 100vh;
}

.page-nav{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:720px) {
    height: 15vh;
  }
}

.page-nav-butt{
  width: calc(100% / 5);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #94a3b8;
   aspect-ratio: 1/1;
  @media (max-width:720px) {
    padding: 0;
    height: 100% !important;
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
  }
}

.navImage{
  height: 100%;
  aspect-ratio:1/1 ;

   @media (max-width:720px){
    scale: 1;
    width: 80%;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
   }
}

.page-nav span {
  white-space: nowrap;
  font-size: clamp(1px, 2vh,2.1vh);
  @media (max-width:720px) {
    font-size: 0;
  }
}

.nav-wrapper {
  width: 100%;
  border: 1px solid rgba(248, 113, 113, 0.2);
  height: 50%;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  background-color: #10182c;
  @media (max-width:720px) {
    height: 50%;
    border-radius: 2vh;
    gap:0;
    justify-content: space-around;
  }
}

 #active {
  height: 100%;
  border-radius: 1vw;
  background-color: white ;
  color: #10182c;
  padding: 0px 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  @media (max-width:720px) {
    width: fit-content;
    height: 100%;
    aspect-ratio: 1/1;
    height: 3vh;
    padding: 0;
  }
}

.page-title {
  color: white;
  font-family: 'Roboto';
  font-size:clamp(0.8rem,3.5vh,2rem) ;
  display: flex;
  justify-content: space-between;
  @media (max-width:720px){
    gap: 2vh;
    flex-direction: column;
  }
}

.create-butt {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: #000017;
  font-size:clamp(0.8rem,2.5vh,2rem) ;
  width: min-content;
  padding: 10px 10px;
  border-radius: 1vh;
}

.create-butt span {
  font-size:clamp(0.8rem,1vh,2rem) ;
  font-weight: bold;
  padding-right: 10px;
}

.dashboard-card-container {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width:720px){
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.dashboard-cards {
  width: calc(100% / 3.1);
  border:1px solid rgba(248, 113, 113, 0.2);
  height: 10vw;
  border-radius: 1vh;
  margin-top: 20px;
  background-color: #10182cdb;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5%;
  @media (max-width:720px){
    width: 100%;
    height: 25vh;
  }
}

#safetyPercentage {
  margin-left: 12%;
}



.dashboard-cards:hover{
  transform: translateY(-5%);
  border:1px solid rgba(248, 113, 113, 0.47)
}



.dash-card-icon{
  height: 30%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  margin-left: 10%;
}


.dash-card-icon img {
  width: 60%;
}


.dash-card-contents {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #94a3b8;
  font-weight:500;
}

.dash-card-contents span {
  height: 60%;
  color: #94a3b8;
  font-weight: bold;
  color: white;
  font-size:clamp(0.8rem,3.5vh,2rem) ;
}

.dashboard-cards:nth-child(5){
  flex-grow: 1;
  max-width:calc((100% / 3.1 ) * 2.05) ;
  @media (max-width:720px){
    max-width:100%;
  }

}

.map-head-status {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: #000017;
  font-size:clamp(0.8rem,2vh,2rem) ;
  width: 40%;
  padding: 10px 20px;
  border-radius: 1vh;
  @media (max-width:720px){
    width: 90%;
  }
}

.map-head-status div {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.map-head-status div  span {
  margin-left:1vh;
}



.map-dot-status {
  aspect-ratio: 1/1 ;
  width: 2.5vh;
  border-radius: 100%;
  border: rgba(255, 255, 255, 0.322) 1px solid;
}