@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*  {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  color: white;
  text-decoration: none;
}

:root{
  --background: #0E0F10;
  --subColor:#9D9D9D;
  --subColorTwo:#9A9A9A;
  --navSelected:#373B3B;

}

body {
  background-color: var(--background);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  @media (max-width:720px) {
    flex-direction: column;
  }
}

.navContainer {
  width:15%;
  @media (max-width:1200px) {
    width: 100%;
    height: 8vh;
  }

  @media (max-width:720px) {
    width: 100%;
    height: 8vh;
  }
}

.wrapper {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:720px) {
    width: 100%;
    height: calc(100% - 16vh);
  }
}

.contentBody {
  background-color:#1B1D1D ;
  width: 98%;
  height: 98%;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:720px) {
    background-color:#0E0F10 ;
    width: 100%;
  }
}

.navTitle {
  font-family: 'Roboto';
  font-size: 2.5vh; 
  height:8% ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  @media (max-width:720px) {
    height: 100%;
    border-bottom: 1px solid #40404060;
  }
}

.navTitle div {
  width: 85%;
  display: flex;
  align-items: center;
  @media (max-width:720px) {
    justify-content: space-between;
  }
}

.navIcon {
  width: 5vh;
  aspect-ratio: 1/1;
}

.navContent {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width:720px) {
    display: none;
  }
}

.navWrapper{
  width: 85%;
}

.navDivider {
  border-bottom: 1px solid #40404060;
  width: 100%;
}

.navProfileWrapper {
  height: 8vh;
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
}

.navProfile {
  background-color: #202020;
  width: 100%;
  height: 5vh;
  border-radius:1vh;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.navProfile:hover {
  background-color: #282828;
}

.profileImage {
  background-color: gray;
  width: 3vh;
  border-radius: 0.8vh;
  aspect-ratio: 1/1;
  margin-left: 1vh;
}

.profileName {
  margin-left: 1vh;
  font-weight: 400 ;
  font-size: 1.8vh;
}

.navButtonsWrapper {
  display: flex;
  align-items: center;
  height: 23vh;
  width: 100%;
}

.navButtonsContainer {
  width: 100%;
}

.navButton {
  height: 5vh;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;

}

.navButton p {
  margin-left: 1vh;
  font-weight: 400 ;
  font-size: 1.8vh;
  white-space: nowrap;
  @media (max-width:900px) {
    font-size: 1.2vh;
  }
}

.navButton:hover {
  background-color: #272929;
  border-radius: 1vh;
}

.navImage {
  background-color: gray;
  width: 3vh;
  border-radius: 0.8vh;
  aspect-ratio: 1/1;
  margin-left: 1vh;
}

#navActive {
  background-color: #373B3B;
  border-radius: 1vh;
}

.content-wrapper {
  width: 95%;
  height: 97%;
}

.PageHeader {
  @media (max-width:720px) {
    display: none;
  }
}

.PageHeader p {
  font-size: 2.5vh;
  line-height: 3vh;
  font-weight: 500;
}

.PageHeader p + p {
  font-size: 1.5vh;
  color: #9D9D9D;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  @media (max-width:720px) {
    flex-direction: column;
  }
}

.summary-bar {
  display: flex; 
  justify-content: space-between ;
  align-items: center;
  width: 75%;
  background-color: #292C2C;
  height: 12vh;
  margin-top: 2vh;
  border-radius: 1vh;
  @media (max-width:720px) {
    width: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #40404060;
  }
}

.summary-bar-desc {
  height: 60%;
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.summary-bar-desc div p {
  color: #9A9A9A;
  font-size: 1.5vh;
  height:50%;
  width: 100%;
  white-space: nowrap;
}

.summary-bar-desc div p + p {
  color: white;
  font-size: 3vh;
}


.smaller-bar {
  width: 23%;
  display: flex;
  justify-content: start;
  @media (max-width:720px) {
    width: 100%;
  }
}

.smaller-bar div {
  margin-left: 18%;
  @media (max-width:720px) {
    width: 10%!important;
    margin-left: 0;
  }
}

.page-sub-header {
  font-size: 2vh;
  font-weight: 500;
  height: 8vh;
  display: flex;
  align-items: center;
}

.maps {
  z-index: 99;
}
/*mobile-feat*/

.mobileProfileImage {
  display: none!important;
  background-color: #ebebeb;
  height: 5vh;
  width: 5vh !important;
  aspect-ratio: 1/1;
  border-radius: 50%;
  @media (max-width:720px) {
    display: block !important;
  }
}

.navMobile{
  display: none;
  border-top: 1px solid #40404060;
  @media (max-width:720px) {
    height: 8vh;
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 999999;
  }
}

.navButtMobile {
  width:calc(100vw / 5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}